@import "ember-bootstrap/bootstrap";
.site-icon {
  background-color: #27938e;
  color: white !important;
}

.post-list {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid;
}
.post-author {
  width: 15%;
  float: right;
}

.body-content {
  min-height: 500px;
}
