{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    <a class="navbar-brand" href="/home">
      <img src="/image/home.png" width="30" height="30" class="d-inline-block align-top" alt="Post">
    </a>
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "posts"}}Posts{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "users"}}Users{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "contact"}}Contact{{/nav.link-to}}{{/nav.item}}
      {{#nav.dropdown as |dd|}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}{{#ddm.link-to "posts"}}Posts{{/ddm.link-to}}{{/ddm.item}}
          {{#ddm.item}}{{#ddm.link-to "users"}}Users{{/ddm.link-to}}{{/ddm.item}}
          {{#nav.item}}{{#nav.link-to "contact"}}Contact{{/nav.link-to}}{{/nav.item}}
        {{/dd.menu}}
      {{/nav.dropdown}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
<div class="body-content container">
  {{outlet}}
</div>
<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <hr>
  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="/">
      <strong> MyPost.com</strong>
    </a>
  </div>
  <!--/.Copyright -->
</footer>
<!--/.Footer-->